Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

RSS içeriğini temizle
  scripts/generate-rss.js
Due: eslint --fix, prettier --write

Güncelle Vercel dağıtım adımını
  .circleci/config.yml
Due: prettier --write

Align Deploy to Vercel workflow
  .circleci/config.yml
Due: prettier --write

Add prebuilt deploy step
  .circleci/config.yml
Due: prettier --write

Fix Vercel deployment errors
  .circleci/config.yml
  .vercelignore
Due: prettier --write

Update vercelignore excludes
  .vercelignore
Due: none

Add BackToTop event test
  __tests__/components/common/BackToTop.test.tsx
  __tests__/components/common/ReadingProgress.test.tsx
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/BackToTop.tsx
  src/components/common/ReadingProgress.tsx
  src/lib/scrollEvents.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix timeout type in ReadingProgress
  src/components/common/ReadingProgress.tsx
Due: eslint --fix, prettier --write

Catalog topic motif descriptions
  src/app/(default)/posts/[id]/page.tsx
  src/app/(default)/topics/[id]/page.tsx
  src/app/(localized)/[locale]/404/page.tsx
  src/app/(localized)/[locale]/about/page.tsx
  src/app/(localized)/[locale]/contact/page.tsx
  src/app/(localized)/[locale]/medium/page.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/posts/[id]/page.tsx
  src/app/(localized)/[locale]/search/page.tsx
  src/app/(localized)/[locale]/topics/[id]/page.tsx
  src/components/LocaleRedirect.tsx
  src/components/common/CodeBlock.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostList.tsx
  src/lib/metadata.ts
Due: eslint --fix, prettier --write

İncele blog arayüzünü
  src/components/common/Layout.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostSummary.tsx
  src/styles/_variables.scss
  src/styles/global.scss
  src/views/HomePage.tsx
  src/views/MediumPage.tsx
  src/views/SearchPage.tsx
  src/views/TopicPage.tsx
Due: eslint --fix, prettier --write

Tek i18n yapılandırması oluştur
  src/config/i18n.ts
  src/i18n/RouteI18nProvider.tsx
  src/i18n/provider.tsx
Due: eslint --fix, prettier --write

Update posts tests to mock fs access
  __tests__/lib/posts.test.tsx
  package.json
  scripts/sync-build-search-posts.js
  src/components/common/Layout.tsx
  src/components/common/Thumbnail.tsx
  src/components/posts/PostDetail.tsx
  src/lib/basePath.ts
  src/lib/posts.ts
Due: eslint --fix, prettier --write

Düzenle arama ve post işleyişi
  .codex/skills/blog-content-authoring/SKILL.md
  AGENTS.md
  __tests__/lib/posts.test.tsx
  package.json
  pnpm-lock.yaml
  public/data/posts.en.json
  public/data/posts.tr.json
  scripts/audit-related-posts.js
  scripts/generate-rss.js
  scripts/generate-sitemap.js
  scripts/normalize-post-topics.js
  scripts/report-related-posts.js
  scripts/strip-reading-time.js
  scripts/sync-build-search-posts.js
  scripts/sync-reading-time.js
  src/components/common/Layout.tsx
  src/components/common/MarkdownRenderer.tsx
  src/components/posts/PostList.tsx
  src/components/search/SearchContainer.tsx
  src/lib/posts.ts
  src/styles/global.scss
  src/views/AboutPage.tsx
Due: eslint --fix, prettier --write

Convert medium feed fetch
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/agents/openai.yaml
  .codex/skills/blog-content-authoring/scripts/check-content.mjs
  .codex/skills/blog-content-authoring/scripts/suggest-random-post.mjs
  AGENTS.md
  __tests__/components/posts/PostFilters.test.tsx
  __tests__/components/posts/PostList.test.tsx
  __tests__/lib/posts.test.tsx
  public/data/medium-feed.json
  public/data/topics.en.json
  public/data/topics.tr.json
  scripts/fetch-medium-feed.js
  scripts/generate-sitemap.js
  scripts/normalize-post-topics.js
  src/components/common/Layout.tsx
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/lib/medium.ts
  src/lib/posts.ts
  src/reducers/postsQuery.ts
  src/views/HomePage.tsx
Due: eslint --fix, prettier --write

Düzelt Layout usePathname hatası
  __tests__/components/common/Layout.test.tsx
Due: eslint --fix, prettier --write

Fix Layout usePathname hatası
  package.json
Due: prettier --write

Update search page test structure
  __tests__/app/[locale]/search/page.test.tsx
  src/app/(localized)/[locale]/search/page.tsx
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write

Fix readingTime translation display
  __tests__/__mocks__/mockPostData.ts
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/components/common/PreFooter.test.tsx
  __tests__/components/posts/PostListItem.test.tsx
  __tests__/components/posts/RelatedPosts.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/lib/medium.test.ts
  __tests__/lib/postFilters.test.ts
  __tests__/lib/posts.test.tsx
  __tests__/lib/readingTime.test.ts
  __tests__/reducers/postsQuery.test.ts
  __tests__/types/post.test.ts
  public/data/posts.en.json
  public/data/posts.tr.json
  public/locales/en/common.json
  public/locales/tr/common.json
  scripts/sync-reading-time.js
  src/components/common/Layout.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostListItem.tsx
  src/components/posts/PostSummary.tsx
  src/components/posts/RelatedPosts.tsx
  src/lib/medium.ts
  src/lib/postFilters.ts
  src/lib/posts.ts
  src/lib/readingTime.ts
  src/types/i18n-resources.d.ts
  src/types/posts.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix Vercel export warning
  .circleci/config.yml
  .vercelignore
Due: prettier --write

Add searchText filtering option
  __tests__/__mocks__/mockPostData.ts
  __tests__/components/common/Sidebar.test.tsx
  __tests__/components/common/TopicsDropdown.test.tsx
  __tests__/components/posts/PostListItem.test.tsx
  __tests__/components/posts/RelatedPosts.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/lib/medium.test.ts
  __tests__/lib/postFilters.test.ts
  __tests__/lib/posts.test.tsx
  __tests__/reducers/postsQuery.test.ts
  __tests__/types/post.test.ts
  package.json
  public/data/posts.en.json
  public/data/posts.tr.json
  scripts/sync-post-metadata.js
  scripts/sync-reading-time.js
  src/components/common/Layout.tsx
  src/components/common/Sidebar.tsx
  src/components/common/TopicsDropdown.tsx
  src/lib/medium.ts
  src/lib/postFilters.ts
  src/lib/posts.ts
  src/lib/searchText.ts
  src/types/posts.ts
Due: eslint --fix, prettier --write

Update CircleCI Vercel deploy
  .circleci/config.yml
Due: prettier --write

Refine search text data
  __tests__/__mocks__/mockPostData.ts
  public/data/posts.en.json
  public/data/posts.tr.json
  scripts/sync-post-metadata.js
  src/components/common/Layout.tsx
  src/lib/medium.ts
  src/lib/posts.ts
  src/lib/searchText.ts
Due: eslint --fix, prettier --write

Adjust search filtering behavior
  __tests__/components/common/Header.test.tsx
  __tests__/components/search/SearchBar.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/lib/postFilters.test.ts
  package.json
  pnpm-lock.yaml
  src/components/common/Header.tsx
  src/components/posts/PostList.tsx
  src/components/search/SearchBar.tsx
  src/components/search/SearchContainer.tsx
  src/lib/postFilters.ts
  src/styles/global.scss
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write

Update search results layout
  __tests__/__mocks__/mockPostData.ts
  __tests__/components/common/SourceDropdown.test.tsx
  __tests__/components/posts/PostFilters.test.tsx
  __tests__/components/posts/PostList.test.tsx
  __tests__/components/posts/PostListItem.test.tsx
  __tests__/components/posts/PostSummary.test.tsx
  __tests__/components/posts/PostToc.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/lib/postFilters.test.ts
  __tests__/reducers/postsQuery.test.ts
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/Layout.tsx
  src/components/common/SourceDropdown.tsx
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostListItem.tsx
  src/components/posts/PostSummary.tsx
  src/components/posts/PostToc.tsx
  src/components/search/SearchContainer.tsx
  src/config/iconLoader.ts
  src/lib/medium.ts
  src/lib/postFilters.ts
  src/lib/posts.ts
  src/reducers/postsQuery.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/types/posts.ts
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Refine medium feed syncing
  AGENTS.md
  __tests__/app/[locale]/medium/page.test.tsx
  __tests__/lib/posts.test.tsx
  content/external/medium-feed.json
  package.json
  public/data/posts.en.json
  public/data/posts.tr.json
  scripts/fetch-medium-feed.js
  scripts/generate-rss.js
  scripts/generate-sitemap.js
  scripts/sync-medium-posts.js
  scripts/sync-post-metadata.js
  src/app/(localized)/[locale]/medium/page.tsx
  src/components/common/Layout.tsx
  src/lib/medium.ts
  src/lib/posts.ts
Due: eslint --fix, prettier --write

Güncelle konu sayfası testlerini
  __tests__/app/[locale]/topics/[id]/page.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  src/app/(localized)/[locale]/topics/[id]/page.tsx
  src/components/posts/PostDetail.tsx
  src/components/search/SearchBar.tsx
  src/components/search/SearchContainer.tsx
  src/styles/_bootstrap.scss
  src/styles/global.scss
  src/views/PostPage.tsx
  src/views/TopicPage.tsx
Due: eslint --fix, prettier --write

Align breadcrumb spacing rhythm
  src/styles/global.scss
  src/views/TopicPage.tsx
Due: eslint --fix, prettier --write

Ensure Post TOC shows h2 headings
  __tests__/components/posts/PostToc.test.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostToc.tsx
Due: eslint --fix, prettier --write

Navbard hover efektleri ekle
  __tests__/components/common/Header.test.tsx
  __tests__/components/i18n/LanguageSwitcher.test.tsx
  __tests__/components/posts/PostSummary.test.tsx
  __tests__/components/theme/ThemeToggler.test.tsx
  __tests__/components/voice/VoiceToggler.test.tsx
  __tests__/config/store.test.tsx
  __tests__/reducers/voice.test.ts
  jest.setup.ts
  public/locales/en/common.json
  public/locales/tr/common.json
  public/sounds/disable-sound.mp3
  public/sounds/enable-sound.mp3
  public/sounds/plunger-immediate.mp3
  public/sounds/pop-down.mp3
  public/sounds/rising-pops.mp3
  public/sounds/switch-off.mp3
  public/sounds/switch-on.mp3
  src/components/common/Header.tsx
  src/components/common/Link.tsx
  src/components/i18n/LanguageSwitcher.tsx
  src/components/posts/PostSummary.tsx
  src/components/theme/ThemeToggler.tsx
  src/components/voice/VoiceToggler.tsx
  src/config/iconLoader.ts
  src/config/store.ts
  src/hooks/useBoop.ts
  src/hooks/useHoverSound.ts
  src/reducers/voice.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add JoshWComeau navbar animations
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write

Align header icons with Josh design
  src/components/common/Header.tsx
  src/components/common/Layout.tsx
  src/components/search/SearchBar.tsx
  src/components/search/SearchContainer.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Fix sidebar visibility condition in LayoutView component
  src/components/common/Layout.tsx
Due: eslint --fix, prettier --write

Hide dropdown arrow indicators for language selector and theme toggler
  src/styles/global.scss
Due: prettier --write

Enable tab navigation by restoring pointer events for nav items and adjust tab container alignment
  src/styles/global.scss
Due: prettier --write

Refactor Header search overlay to use static imports and reposition close button for improved accessibility
  __tests__/components/common/Header.test.tsx
  src/components/common/Header.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Pass platform-specific shortcut hint to SearchBar and SearchContainer for consistent display
  __tests__/components/common/Header.test.tsx
  __tests__/components/search/SearchBar.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  src/components/common/Header.tsx
  src/components/search/SearchBar.tsx
  src/components/search/SearchContainer.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,cjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.{css,scss,html,md,json,yml,yaml})
  i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts: any of: public/locales/en/**/*.json
