Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add centralized GraphQL errors
  api/graphql/index.go
  api/newsletter-dispatch/index.go
  pkg/apperrors/errors.go
  pkg/httpapi/error_response.go
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/providers.tsx
  src/components/common/AppErrorToasts.tsx
  src/lib/errors/appError.ts
  src/lib/graphql/apolloClient.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Update Bootstrap toast styling
  src/components/common/AppErrorToasts.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Düzenle Layout responsive hizasını
  src/components/common/Layout.tsx
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/styles/_variables.scss
  src/styles/global.scss
Due: eslint --fix, prettier --write

Remove programming topic entries
  api/newsletter-dispatch/index.go
  public/data/topics.en.json
  public/data/topics.tr.json
  scripts/sync-newsletter-content/main.go
  src/lib/posts.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Add category menu sounds
  public/sounds/menu-close.mp3
  public/sounds/menu-open-softer.mp3
  src/components/common/Header.tsx
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write

Fix navbar color issues in dark mode
  .codex/skills/blog-content-authoring/SKILL.md
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/PostDensityToggle.tsx
  src/components/posts/PostList.tsx
  src/config/iconLoader.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Güncel i18n kaynaklarını senkronize
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write

Wrap Header test with Provider
  __tests__/components/common/Header.test.tsx
Due: eslint --fix, prettier --write

Fix reading progress i18n text
  public/locales/en/post.json
  public/locales/tr/post.json
  src/components/common/ReadingProgress.tsx
  src/components/posts/PostToc.tsx
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update blog color styling
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/scripts/make-thumbnail-cloudinary.mjs
  content/posts/en/captain-tsubasa-2-world-fighters.md
  content/posts/tr/captain-tsubasa-2-world-fighters.md
  package.json
  public/data/categories.en.json
  public/data/categories.tr.json
  public/data/posts.en.json
  public/data/posts.tr.json
  public/data/topics.en.json
  public/data/topics.tr.json
  public/images/captain-tsubasa-2-world-fighters-thumbnail.webp
  public/images/posts/captain-tsubasa-2-world-fighters/announcement-trailer.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-cover.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-drive-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-flying-drive-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-hayabusa-volley.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-heel-lift-vs-santana.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-jito-hiroshi.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-misugi-jun.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-neo-tiger-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-tsubasa-ozora.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-wakabayashi.webp
  scripts/sync-newsletter-content/main.go
  src/components/common/CategoryDropdown.tsx
  src/components/common/Header.tsx
  src/components/posts/PostCarousel.tsx
  src/components/posts/PostCategoryBadge.tsx
  src/components/posts/PostDetail.tsx
  src/config/iconLoader.ts
  src/lib/postCategories.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Fix ReadingProgress aria label
  src/components/common/ReadingProgress.tsx
Due: eslint --fix, prettier --write

Fix reading progress and thumbnail
  __tests__/components/posts/PostDetail.test.tsx
Due: eslint --fix, prettier --write

fix(ui): cast category icons to IconProp
  src/components/common/CategoryDropdown.tsx
  src/components/common/Header.tsx
  src/components/posts/PostCategoryBadge.tsx
Due: eslint --fix, prettier --write

Fix ESLint warnings and impure hooks
  __tests__/components/common/PreFooter.test.tsx
  __tests__/lib/errors/appError.test.ts
  __tests__/lib/searchText.test.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write

fix(ui): improve Schulte table mobile responsiveness
  src/styles/global.scss
Due: prettier --write

Rewrite editorial description
  .codex/skills/blog-content-authoring/SKILL.md
  __tests__/components/games/SchulteTableTrainer.test.tsx
  content/posts/en/captain-tsubasa-2-world-fighters.md
  content/posts/en/captain-tsubasa-rise-of-new-champions.md
  content/posts/tr/captain-tsubasa-2-world-fighters.md
  content/posts/tr/captain-tsubasa-rise-of-new-champions.md
  public/data/posts.en.json
  public/data/posts.tr.json
  public/images/captain-tsubasa-rise-of-new-champions-thumbnail.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-cover.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-drive-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-flying-drive-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-hayabusa-volley.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-heel-lift-vs-santana.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-jito-hiroshi.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-misugi-jun.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-neo-tiger-shot.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-tsubasa-ozora.webp
  public/images/posts/captain-tsubasa-2-world-fighters/gallery-wakabayashi.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/announcement-trailer.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-breakthrough.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-carlos-turn.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-champions-edition.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-drive-shot.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-key-art.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-key-feature-1.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-key-feature-2.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-new-hero-edition.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-packshot.webp
  public/images/posts/captain-tsubasa-rise-of-new-champions/gallery-sky-rocket-volley.webp
  src/components/games/SchulteTableTrainer.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Update Captain Tsubasa dates
  content/posts/en/captain-tsubasa-2-world-fighters.md
  content/posts/en/captain-tsubasa-rise-of-new-champions.md
  content/posts/tr/captain-tsubasa-2-world-fighters.md
  content/posts/tr/captain-tsubasa-rise-of-new-champions.md
  public/data/posts.en.json
  public/data/posts.tr.json
Due: prettier --write

Persist Schulte hint setting
  __tests__/components/games/SchulteTableTrainer.test.tsx
  src/components/games/SchulteTableTrainer.tsx
Due: eslint --fix, prettier --write

Güncelle Captain Tsubasa metnini
  public/en/rss.xml
  public/tr/rss.xml
Due: none

Update Captain Tsubasa metadata
  content/posts/en/captain-tsubasa-2-world-fighters.md
  content/posts/en/captain-tsubasa-rise-of-new-champions.md
  content/posts/tr/captain-tsubasa-2-world-fighters.md
  content/posts/tr/captain-tsubasa-rise-of-new-champions.md
  public/data/posts.en.json
  public/data/posts.tr.json
Due: prettier --write

Use SonarQube MCP server
  __tests__/components/games/SchulteTableTrainer.test.tsx
  src/components/common/Header.tsx
  src/components/common/PreFooter.tsx
  src/components/common/SourceDropdown.tsx
  src/components/games/SchulteTableTrainer.tsx
  src/components/i18n/LanguageSwitcher.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostToc.tsx
  src/components/search/SearchContainer.tsx
  src/components/theme/ThemeToggler.tsx
  src/lib/graphql/apolloClient.ts
  src/styles/global.scss
  src/views/NewsletterCallbackPage.tsx
Due: eslint --fix, prettier --write

Update Stroop test assets
  __tests__/components/common/Header.test.tsx
  __tests__/components/common/SourceDropdown.test.tsx
  __tests__/components/games/SchulteTableTrainer.test.tsx
  __tests__/components/theme/ThemeToggler.test.tsx
  __tests__/config/store.test.tsx
  __tests__/lib/codeFilenameMap.test.ts
  __tests__/lib/contentCompression.test.ts
  __tests__/reducers/postsQuery.test.ts
  __tests__/reducers/theme.test.ts
  __tests__/reducers/voice.test.ts
  a_digital_promotional_graphic_features_the_schulte.png
  a_promotional_digital_digital_graphic_for_the_stro.png
  jest.config.js
  public/images/stroop-test-thumbnail.webp
  public/locales/en/common.json
  public/locales/en/games.json
  public/locales/tr/common.json
  public/locales/tr/games.json
  scripts/generate-sitemap.js
  src/app/(default)/games/stroop-test/page.tsx
  src/app/(localized)/[locale]/games/stroop-test/page.tsx
  src/components/common/Header.tsx
  src/components/games/StroopTestTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/StroopTestPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Adjust StroopTestTrainer progress
  a_promotional_digital_digital_graphic_for_the_stro.png
  src/components/games/StroopTestTrainer.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Ekle dokümantasyon ve spinner
  README.md
  __tests__/lib/contentApi.test.ts
  __tests__/lib/newsletterApi.test.ts
  api/graphql/config.go
  api/graphql/config_test.go
  api/graphql/graphiql.go
  api/graphql/graphiql_test.go
  api/graphql/index.go
  pkg/graph/enum_helpers.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphqls
  pkg/graph/schema.resolvers.go
  scripts/local-go-api/main.go
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/contentApi.ts
  src/lib/graphql/enumMappers.ts
  src/lib/newsletterApi.ts
Due: eslint --fix, prettier --write

Basitleştir GraphiQL stilini
  .codex/environments/environment.toml
  api/graphql/graphiql.go
Due: none

Fix posts helpers color
  __tests__/lib/posts.helpers.test.ts
  __tests__/lib/posts.test.tsx
Due: eslint --fix, prettier --write

Fix post category normalization
  __tests__/components/search/SearchContainer.helpers.test.ts
  public/en/rss.xml
  public/tr/rss.xml
  src/components/search/SearchContainer.tsx
  src/lib/postCategoryRef.ts
  src/lib/posts.ts
Due: eslint --fix, prettier --write

Fix posts tests and search types
  src/lib/posts.ts
Due: eslint --fix, prettier --write

Fix category ref normalization
  __tests__/components/common/Header.test.tsx
  api/graphql/index.go
  api/graphql/index_test.go
  pkg/graphql/config.go
  pkg/graphql/config_test.go
  pkg/graphql/graphiql.go
  pkg/graphql/graphiql_test.go
  src/components/common/Header.tsx
Due: eslint --fix, prettier --write

Guncelle Vercel deploy ve ikon
  src/components/common/Header.tsx
Due: eslint --fix, prettier --write

Update Stroop Test icon
  src/components/common/Header.tsx
  src/config/iconLoader.ts
Due: eslint --fix, prettier --write

Adjust visual memory layout
  __tests__/app/[locale]/callback/page.test.tsx
  __tests__/app/[locale]/categories/[id]/page.test.tsx
  __tests__/app/[locale]/games/schulte-table/page.test.tsx
  __tests__/app/[locale]/games/stroop-test/page.test.tsx
  __tests__/components/posts/PostCategoryBadge.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/posts/PostLike.test.tsx
  __tests__/components/posts/PostList.test.tsx
  __tests__/lib/postCategories.test.ts
  __tests__/lib/posts.helpers.test.ts
  __tests__/lib/posts.test.tsx
  __tests__/views/pages.test.tsx
  public/images/visual-memory-thumbnail.webp
  public/locales/en/common.json
  public/locales/en/games.json
  public/locales/tr/common.json
  public/locales/tr/games.json
  scripts/generate-sitemap.js
  src/app/(default)/games/visual-memory/page.tsx
  src/app/(localized)/[locale]/games/visual-memory/page.tsx
  src/components/common/Header.tsx
  src/components/games/VisualMemoryTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/types/react-dom-server.d.ts
  src/views/VisualMemoryPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Review VisualMemoryTrainer bugs
  public/locales/en/games.json
  public/locales/tr/games.json
  src/components/games/VisualMemoryTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update Stroop restart text
  __tests__/components/games/SchulteTableTrainer.helpers.test.ts
  __tests__/components/games/SchulteTableTrainer.test.tsx
  __tests__/components/games/StroopTestTrainer.test.tsx
  public/locales/en/games.json
  public/locales/tr/games.json
  src/components/games/SchulteTableTrainer.tsx
  src/components/games/StroopTestTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/SchulteTablePage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Ekle tamamlanma efekti
  src/components/games/SchulteTableTrainer.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,cjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.{css,scss,html,md,json,yml,yaml})
  i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts: any of: public/locales/en/**/*.json
