Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

chore: rename build job to build-and-deploy in config.yml
  .circleci/config.yml
Due: prettier --write

chore: remove redundant docker version command from CI config
  .circleci/config.yml
Due: prettier --write

chore: enable docker layer caching in CI pipeline
  .circleci/config.yml
Due: prettier --write

chore: update deploy-workflow to use build-and-deploy job in config.yml
  .circleci/config.yml
Due: prettier --write

Düzelt test typing ve strict ayar
  __tests__/app/[locale]/about/page.test.tsx
  __tests__/app/[locale]/contact/page.test.tsx
  __tests__/app/[locale]/medium/page.test.tsx
  __tests__/app/[locale]/page.test.tsx
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/app/[locale]/search/page.test.tsx
  __tests__/app/[locale]/topics/[id]/page.test.tsx
  __tests__/components/LocaleRedirect.test.tsx
  __tests__/components/common/DateRangePicker.test.tsx
  __tests__/components/common/Header.test.tsx
  __tests__/components/posts/PostFilters.test.tsx
  eslint.config.mjs
  src/app/not-found.tsx
  src/components/LocaleRedirect.tsx
  src/components/common/DateRangePicker.tsx
  src/components/i18n/LanguageSwitchLink.tsx
  src/i18n/settings.ts
  src/lib/metadata.ts
  src/types/svg.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Düzelt strict TS ve store yapısı
  __tests__/components/theme/ThemeProvider.test.tsx
  __tests__/components/theme/ThemeToggler.test.tsx
  __tests__/config/store.test.tsx
  __tests__/utils/renderWithProviders.tsx
  src/app/providers.tsx
  src/config/store.ts
Due: eslint --fix, prettier --write

Düzelt i18n layout ve TS ayarları
  __tests__/app/[locale]/404/page.test.tsx
  __tests__/app/[locale]/about/page.test.tsx
  __tests__/app/[locale]/contact/page.test.tsx
  __tests__/app/[locale]/layout.test.tsx
  __tests__/app/[locale]/medium/page.test.tsx
  __tests__/app/[locale]/page.test.tsx
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/app/[locale]/search/page.test.tsx
  __tests__/app/[locale]/topics/[id]/page.test.tsx
  __tests__/app/layout.test.tsx
  __tests__/app/page.test.tsx
  scripts/generate-sitemap.js
  src/app/(default)/about/page.tsx
  src/app/(default)/contact/page.tsx
  src/app/(default)/layout.tsx
  src/app/(default)/medium/page.tsx
  src/app/(default)/not-found.tsx
  src/app/(default)/page.tsx
  src/app/(default)/posts/[id]/page.tsx
  src/app/(default)/search/page.tsx
  src/app/(default)/topics/[id]/page.tsx
  src/app/(localized)/[locale]/404/page.tsx
  src/app/(localized)/[locale]/about/page.tsx
  src/app/(localized)/[locale]/contact/page.tsx
  src/app/(localized)/[locale]/layout.tsx
  src/app/(localized)/[locale]/medium/page.tsx
  src/app/(localized)/[locale]/not-found.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/posts/[id]/page.tsx
  src/app/(localized)/[locale]/search/page.tsx
  src/app/(localized)/[locale]/topics/[id]/page.tsx
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint --fix, prettier --write

İyileştir blog arayüz düzenini
  src/components/common/Layout.tsx
  src/components/posts/PostCarousel.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostList.tsx
  src/styles/_variables.scss
  src/styles/global.scss
  src/views/AboutPage.tsx
  src/views/ContactPage.tsx
  src/views/LocaleNotFoundPage.tsx
Due: eslint --fix, prettier --write

Minimal blog arayüzü iyileştir
  __tests__/app/[locale]/layout.test.tsx
  src/styles/_mixins.scss
  src/styles/_variables.scss
  src/styles/global.scss
Due: eslint --fix, prettier --write

Text-muted rengini gri tonu yap
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write

Update Next store and lang handling
  __tests__/app/[locale]/about/page.test.tsx
  __tests__/app/[locale]/contact/page.test.tsx
  __tests__/app/[locale]/layout.test.tsx
  __tests__/app/[locale]/medium/page.test.tsx
  __tests__/app/[locale]/page.test.tsx
  __tests__/app/[locale]/search/page.test.tsx
  next.config.ts
  src/app/(localized)/[locale]/about/page.tsx
  src/app/(localized)/[locale]/contact/page.tsx
  src/app/(localized)/[locale]/layout.tsx
  src/app/(localized)/[locale]/medium/page.tsx
  src/app/(localized)/[locale]/page.tsx
  src/app/(localized)/[locale]/search/page.tsx
  src/i18n/RouteI18nProvider.tsx
  src/i18n/settings.ts
Due: eslint --fix, prettier --write

Document motif descriptions
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/scripts/generate-thumbnail-prompts.mjs
Due: eslint --fix, prettier --write

Azalt layout payload boyutu
  __tests__/components/common/Header.test.tsx
  __tests__/components/common/Layout.test.tsx
  jest.setup.ts
  src/components/common/Header.tsx
  src/components/common/Layout.tsx
  src/lib/posts.ts
Due: eslint --fix, prettier --write

Daralt layoutPosts yükünü
  src/components/common/Layout.tsx
  src/components/common/PreFooter.tsx
  src/lib/posts.ts
  src/types/posts.ts
  src/views/AboutPage.tsx
  src/views/ContactPage.tsx
  src/views/MediumPage.tsx
  src/views/PostPage.tsx
  src/views/TopicPage.tsx
Due: eslint --fix, prettier --write

Add Brotli support to nginx
  Dockerfile
  nginx/nginx.conf.template
Due: none

Add share copy translations
  public/locales/en/post.json
  public/locales/tr/post.json
  src/components/posts/PostDetail.tsx
  src/config/iconLoader.ts
  src/styles/_variables.scss
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update post share icon tooltip
  src/components/posts/PostDetail.tsx
  src/config/iconLoader.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Add author box localization
  public/locales/en/post.json
  public/locales/tr/post.json
  src/components/posts/PostAuthorBox.tsx
  src/components/posts/PostDetail.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix RSS XSL localization
  public/rss.xsl
  scripts/generate-rss.js
Due: eslint --fix, prettier --write

Add adjacent post navigation tests
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/lib/postFilters.test.ts
  public/locales/en/post.json
  public/locales/tr/post.json
  src/app/(localized)/[locale]/posts/[id]/page.tsx
  src/components/posts/PostDetail.tsx
  src/lib/postFilters.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/PostPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Standardize blog headings
  .codex/skills/blog-content-authoring/SKILL.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,cjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.{css,scss,html,md,json,yml,yaml})
  i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts: any of: public/locales/en/**/*.json
