Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

.lintstagedrc:

{
  "*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,html,md,json,yml,yaml}": ["prettier --write"],
  "public/locales/en/**/*.json": "i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts"
}

Verify Reader-compatible layout
  src/components/common/Link.tsx
  src/components/i18n/LanguageSwitchLink.tsx
  src/components/posts/PostList.tsx
  src/styles/global.scss
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write

Fix failing link unit tests
  __tests__/components/common/Link.test.tsx
  __tests__/components/common/Loading.test.tsx
  __tests__/components/i18n/LanguageSwitchLink.test.tsx
  __tests__/components/posts/PostList.test.tsx
  src/components/common/DateRangePicker.module.scss
  src/components/common/Header.tsx
  src/components/common/Link.tsx
  src/components/common/Loading.tsx
  src/components/common/Sidebar.tsx
  src/components/i18n/LanguageSwitchLink.tsx
  src/components/pagination/PageSizeSelector.tsx
  src/components/posts/PostFilters.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Update prefooter social icons
  src/components/common/PreFooter.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Update footer year range
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/Footer.tsx
  src/components/common/PreFooter.tsx
  src/config/iconLoader.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update footer year range test
  __tests__/components/common/Footer.test.tsx
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write

Place voice icon by language
  src/components/common/Header.tsx
Due: eslint --fix, prettier --write

Düzelt responsive tema uyumunu
  src/components/common/DateRangePicker.module.scss
  src/styles/_variables.scss
  src/styles/global.scss
Due: prettier --write

Deploy blogu ve Go API yi
  README.md
  api/ping.go
  go.mod
  vercel.json
Due: prettier --write

Install Go for Snyk scan
  .circleci/config.yml
Due: prettier --write

Update CircleCI Snyk scan args
  .circleci/config.yml
Due: prettier --write

Update CircleCI Vercel deploy
  .circleci/config.yml
  .vercelignore
Due: prettier --write

Copy Vercel prebuilt files
  .circleci/config.yml
Due: prettier --write

Mongo sağlık uç noktasını güncelle
  README.md
  api/ping.go
  go.mod
  go.sum
Due: prettier --write

Güncelle newsletter site ayarları
  README.md
  __tests__/components/common/PreFooter.test.tsx
  api/internal/newsletter/content.go
  api/internal/newsletter/unsubscribe_token.go
  api/internal/newsletter/unsubscribe_token_test.go
  api/newsletter-dispatch/index.go
  api/ping.go
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  go.mod
  go.sum
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/PreFooter.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  vercel.json
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix newsletter Go export
  api/newsletter-dispatch/index.go
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  internal/newsletter/content.go
  internal/newsletter/unsubscribe_token.go
  internal/newsletter/unsubscribe_token_test.go
Due: none

Fix newsletter API build error
  api/newsletter-dispatch/index.go
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  go.sum
  pkg/newsletter/content.go
  pkg/newsletter/unsubscribe_token.go
  pkg/newsletter/unsubscribe_token_test.go
Due: none

Fix Go serverless build
  src/components/common/PreFooter.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Update README deployment details
  README.md
  api/newsletter-dispatch/index.go
  api/ping.go
Due: prettier --write

Update newsletter email templates
  api/newsletter-dispatch/index.go
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  pkg/newsletter/README.md
  pkg/newsletter/assets.go
  pkg/newsletter/config.go
  pkg/newsletter/content.go
  pkg/newsletter/content_test.go
  pkg/newsletter/mailer.go
  pkg/newsletter/status_page.go
  pkg/newsletter/status_page_test.go
  pkg/newsletter/templates/confirmation_email.html.tmpl
  pkg/newsletter/templates/post_announcement_email.html.tmpl
  pkg/newsletter/templates/status_page.html.tmpl
Due: prettier --write

Add RSS fetch helper
  api/newsletter-dispatch/index.go
  api/subscribe-unsubscribe/index.go
Due: none

Adjust Vercel cron for Turkey 07:00
  README.md
  vercel.json
Due: prettier --write

Include media info in newsletter
  api/newsletter-dispatch/index.go
  package.json
  pkg/newsletter/content.go
  pkg/newsletter/content_test.go
  pkg/newsletter/templates/confirmation_email.html.tmpl
  pkg/newsletter/templates/post_announcement_email.html.tmpl
  scripts/local-go-api/main.go
Due: prettier --write

Update newsletter link rendering
  api/newsletter-dispatch/index.go
  api/subscribe-resend/index.go
  api/subscribe-user/index.go
  package.json
  pkg/newsletter/content.go
  pkg/newsletter/content_test.go
  pkg/newsletter/templates/post_announcement_email.html.tmpl
  scripts/sync-newsletter-content/main.go
Due: prettier --write

Kur Nextjs newsletter akışını
  api/newsletter-dispatch/index.go
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  public/locales/en/common.json
  public/locales/tr/common.json
  src/app/(localized)/[locale]/newsletter-status/page.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/NewsletterStatusPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update newsletter callback URLs
  api/newsletter-dispatch/index.go
  api/subscribe-resend/index.go
  api/subscribe-user/index.go
  src/app/(localized)/[locale]/callback/page.tsx
  src/styles/global.scss
  src/views/NewsletterStatusPage.tsx
Due: eslint --fix, prettier --write

Add dev API rewrite and newsletter s
  next.config.ts
  src/views/NewsletterStatusPage.tsx
Due: eslint --fix, prettier --write

Ekle dev yönlendirme
  public/locales/en/common.json
  public/locales/tr/common.json
  src/app/(localized)/[locale]/callback/page.tsx
  src/components/common/PreFooter.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/NewsletterCallbackPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add like counts to post list
  __tests__/components/posts/PostSummary.test.tsx
  __tests__/components/posts/PostToc.test.tsx
  api/post-likes/index.go
  eslint.config.mjs
  package.json
  public/locales/en/post.json
  public/locales/tr/post.json
  scripts/local-go-api/main.go
  scripts/sync-post-likes/main.go
  src/components/posts/PostDetail.tsx
  src/components/posts/PostLike.tsx
  src/components/posts/PostLikeCount.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostSummary.tsx
  src/components/posts/PostToc.tsx
  src/config/iconLoader.ts
  src/styles/_variables.scss
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/HomePage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Hide loading text in post hits
  src/components/posts/PostHit.tsx
  src/components/posts/PostLike.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostSummary.tsx
  src/components/search/SearchContainer.tsx
Due: eslint --fix, prettier --write

Remove like loading state
  public/sounds/pop-light.mp3
  src/components/posts/PostLike.tsx
Due: eslint --fix, prettier --write

Add back-to-top animations
  __tests__/components/common/BackToTop.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/posts/PostList.test.tsx
  __tests__/lib/postFilters.test.ts
  api/posts/fuzzy_search_test.go
  api/posts/index.go
  package.json
  pnpm-lock.yaml
  public/sounds/up-whoosh.mp3
  src/components/common/BackToTop.tsx
  src/components/posts/PostHit.tsx
  src/components/posts/PostLike.tsx
  src/components/posts/PostLikeCount.tsx
  src/components/posts/PostList.tsx
  src/lib/postFilters.ts
Due: eslint --fix, prettier --write

Fix search pagination issue
  README.md
  __tests__/components/common/PreFooter.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/posts/PostToc.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  api/graphql/graph/generated/generated.go
  api/graphql/graph/model/models_gen.go
  api/graphql/graph/request_metadata.go
  api/graphql/graph/schema.resolvers.go
  api/graphql/index.go
  api/graphql/schema.graphqls
  api/subscribe-confirm/index.go
  api/subscribe-resend/index.go
  api/subscribe-unsubscribe/index.go
  api/subscribe-user/index.go
  internal/newsletter/service.go
  scripts/local-go-api/main.go
  src/components/common/PreFooter.tsx
  src/components/posts/PostList.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/newsletterApi.ts
  src/views/NewsletterCallbackPage.tsx
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write

Fix search pagination active
  README.md
  src/config/constants.ts
Due: eslint --fix, prettier --write

Clean hydration warnings
  api/graphql/index.go
  gqlgen.yml
  internal/graphql/graph/generated/generated.go
  internal/graphql/graph/model/models_gen.go
  internal/graphql/graph/posts_helpers.go
  internal/graphql/graph/request_metadata.go
  internal/graphql/graph/resolver.go
  internal/graphql/graph/schema.resolvers.go
Due: prettier --write

Gereksiz fuse kodunu kaldır
  api/graphql/index.go
  codegen.ts
  gqlgen.yml
  internal/graphql/graph/model/models_gen.go
  internal/posts/fuse_search.go
  internal/posts/fuzzy_search_test.go
  internal/posts/index.go
  internal/posts/service.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/posts_helpers.go
  pkg/graph/request_metadata.go
  pkg/graph/resolver.go
  pkg/graph/schema.graphqls
  pkg/graph/schema.resolvers.go
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/contentApi.ts
Due: eslint --fix, prettier --write

Adopt repository pattern
  internal/newsletter/repository.go
  internal/newsletter/service.go
  internal/posts/repository.go
  internal/posts/service.go
  internal/topics/index.go
  internal/topics/service.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/posts_helpers.go
  pkg/graph/schema.graphqls
  pkg/graph/schema.resolvers.go
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/contentApi.ts
Due: eslint --fix, prettier --write

Add post repository service updates
  internal/posts/index.go
  internal/posts/repository.go
  internal/posts/service.go
  pkg/graph/generated/generated.go
  pkg/graph/model/models_gen.go
  pkg/graph/schema.graphqls
  pkg/graph/schema.resolvers.go
  src/components/posts/PostHit.tsx
  src/components/posts/PostLike.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/contentApi.ts
Due: eslint --fix, prettier --write
