Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

.lintstagedrc:

{
  "*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,html,md,json,yml,yaml}": ["prettier --write"],
  "public/locales/en/**/*.json": "i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts"
}

Update Visual Memory trainer assets
  __tests__/components/games/VisualMemoryTrainer.helpers.test.ts
  __tests__/components/games/VisualMemoryTrainer.test.tsx
  public/locales/en/games.json
  public/locales/tr/games.json
  src/components/games/VisualMemoryTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/VisualMemoryPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Enhance Stroop Test trainer
  __tests__/components/games/StroopTestTrainer.helpers.test.ts
  __tests__/components/games/StroopTestTrainer.test.tsx
  public/locales/en/games.json
  public/locales/tr/games.json
  src/components/games/StroopTestTrainer.tsx
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Adjust sonar inclusions and service
  .circleci/config.yml
  AGENTS.md
  README.md
  internal/domain/newsletter.go
  internal/domain/post.go
  internal/repository/newsletter_repository.go
  internal/repository/post/repository.go
  internal/repository/post_data.go
  internal/repository/post_repository.go
  internal/service/newsletter.go
  internal/service/newsletter_test.go
  internal/service/post.go
  internal/service/post_test.go
  pkg/graph/helpers_test.go
  pkg/graph/posts_helpers.go
  pkg/graph/request_metadata.go
  pkg/graph/schema.resolvers.go
  pkg/graph/schema_resolvers_test.go
  sonar-project.properties
Due: prettier --write

Refactor backend package layout
  AGENTS.md
  README.md
  api/graphql/index.go
  api/newsletter-dispatch/index.go
  internal/config/config.go
  internal/config/config_test.go
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  internal/service/newsletter.go
  internal/service/newsletter_test.go
  pkg/graphql/config.go
  pkg/graphql/config_test.go
  pkg/graphql/graphiql.go
  pkg/graphql/graphiql_test.go
  pkg/newsletter/README.md
  pkg/newsletter/mailer.go
  pkg/newsletter/mailer_test.go
  scripts/sync-newsletter-content/main.go
  scripts/sync-post-hits/main.go
  scripts/sync-post-likes/main.go
Due: prettier --write

Fix Vercel go build failure
  AGENTS.md
  README.md
  api/graphql/index.go
  api/newsletter-dispatch/index.go
  codegen.ts
  go.sum
  gqlgen.yml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/database.go
  internal/config/graphql.go
  internal/config/graphql_test.go
  internal/config/mail.go
  internal/config/mail_test.go
  internal/graphql/enum_helpers.go
  internal/graphql/generated.go
  internal/graphql/helpers_test.go
  internal/graphql/model/models_gen.go
  internal/graphql/posts_helpers.go
  internal/graphql/request_metadata.go
  internal/graphql/resolver.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/graphql/schema_resolvers_test.go
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  internal/service/newsletter.go
  internal/service/newsletter_test.go
  pkg/graphql/graphiql.go
  pkg/newsletter/README.md
  pkg/newsletter/mailer.go
  pkg/newsletter/mailer_test.go
  pkg/web/graphql/handler.go
  pkg/web/graphql/handler_test.go
  pkg/web/newsletterdispatch/handler.go
  scripts/sync-newsletter-content/main.go
  scripts/sync-post-hits/main.go
  scripts/sync-post-likes/main.go
  sonar-project.properties
Due: eslint --fix, prettier --write

Update CircleCI Go setup
  .circleci/config.yml
  AGENTS.md
  README.md
  package.json
Due: prettier --write

Fix backend CI and tests setup
  api/graphql/index_test.go
  internal/config/config_test.go
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  internal/repository/post_repository.go
  internal/repository/repository_test.go
  pkg/graphql/graphiql.go
  pkg/graphql/graphiql_test.go
Due: none

Update backend entrypoint path
  AGENTS.md
  README.md
  cmd/app/main.go
  package.json
Due: prettier --write

Use shared HTTP config in backend
  cmd/app/main.go
  internal/config/config.go
  internal/config/database.go
  internal/config/http.go
  internal/config/http_test.go
  internal/config/newsletter.go
  internal/config/newsletter_test.go
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  pkg/web/graphql/handler.go
  pkg/web/newsletterdispatch/handler.go
  scripts/sync-newsletter-content/main.go
  scripts/sync-post-hits/main.go
  scripts/sync-post-likes/main.go
Due: none

Update AGENTS lint instructions
  .circleci/config.yml
  .golangci.yml
  AGENTS.md
  README.md
  cmd/app/main.go
  internal/repository/post_data.go
  internal/service/newsletter.go
  internal/service/post.go
  package.json
  pkg/newsletter/mailer.go
  pkg/newsletter/unsubscribe_token.go
  pkg/web/newsletterdispatch/handler.go
  scripts/sync-newsletter-content/main.go
  scripts/sync-post-hits/main.go
  scripts/sync-post-likes/main.go
  sonar-project.properties
Due: prettier --write

Add Go lint hook for staged files
  .husky/pre-commit
  AGENTS.md
  README.md
  golangci-lint-report.xml
  package.json
  sonar-project.properties
Due: prettier --write

Update backend dev instructions
  .air.toml
  AGENTS.md
  README.md
  package.json
Due: prettier --write

Backend lint raporunu ekle
  .circleci/config.yml
  .gitignore
  .prettierignore
  AGENTS.md
  README.md
  package.json
Due: prettier --write

Keep golangci report tracked
  golangci-lint-report.xml
Due: none

Add missing lint config entries
  jest-mock-cleanup-report.json
Due: prettier --write

Update backend run action
  .codex/environments/environment.toml
  .gitignore
  .prettierignore
Due: none

Update Air.toml watch settings
  .air.toml
Due: none

Update golangci lint config
  .golangci.yml
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  internal/repository/post_repository.go
  internal/service/post.go
  internal/service/post_test.go
  pkg/graphql/graphiql.go
  pkg/newsletter/content.go
  pkg/web/graphql/handler.go
  pkg/web/newsletterdispatch/handler.go
  scripts/sync-newsletter-content/main.go
Due: prettier --write

Add backend lint guidance
  .golangci.yml
  AGENTS.md
  README.md
  internal/repository/newsletter_repository.go
  internal/repository/post_data.go
  internal/repository/repository_test.go
  internal/service/newsletter.go
  internal/service/post.go
  pkg/newsletter/unsubscribe_token.go
  pkg/web/newsletterdispatch/handler.go
  scripts/sync-newsletter-content/main.go
  scripts/sync-post-hits/main.go
  scripts/sync-post-likes/main.go
Due: prettier --write

Update Air.toml to exclude test files and unchanged files
  .air.toml
Due: none

Run unused export scan
  __tests__/components/common/ContactInfo.test.tsx
  __tests__/components/common/MarkdownRenderer.test.tsx
  __tests__/components/common/PreFooter.test.tsx
  __tests__/components/posts/PostAuthorBox.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/search/SearchContainer.helpers.test.ts
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/config/constants.test.ts
  __tests__/i18n/runtime.test.tsx
  __tests__/lib/cacheUtils.dev.test.ts
  __tests__/lib/cacheUtils.test.ts
  __tests__/lib/medium.test.ts
  __tests__/lib/metadata.test.ts
  __tests__/lib/posts.test.tsx
  __tests__/views/pages.test.tsx
  src/components/common/MarkdownRenderer.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostList.tsx
  src/components/posts/PostToc.tsx
  src/components/search/SearchContainer.tsx
  src/config/constants.ts
  src/lib/cacheUtils.ts
  src/lib/markdownHeadings.ts
  src/lib/medium.ts
  src/lib/posts.ts
  src/styles/_variables.scss
  src/styles/global.scss
  src/views/SearchPage.tsx
Due: eslint --fix, prettier --write

Add related post category test
  __tests__/components/posts/RelatedPosts.test.tsx
  src/components/posts/RelatedPosts.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Fix overlay opening at top-left
  __tests__/components/common/Header.test.tsx
  __tests__/components/common/Layout.test.tsx
  __tests__/components/common/Link.test.tsx
  __tests__/components/games/VisualMemoryTrainer.helpers.test.ts
  __tests__/components/posts/PostFilters.test.tsx
  __tests__/components/posts/PostList.test.tsx
  __tests__/components/posts/RelatedPosts.test.tsx
  __tests__/components/search/SearchContainer.test.tsx
  __tests__/hooks/useHoverSound.test.tsx
  __tests__/reducers/postsQuery.test.ts
  package.json
  pnpm-lock.yaml
  src/components/common/Header.tsx
  src/components/common/Layout.tsx
  src/components/common/Link.tsx
  src/components/common/PreFooter.tsx
  src/components/common/usePreFooterNewsletter.ts
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/reducers/postsQuery.ts
  src/styles/global.scss
  src/views/CategoryPage.tsx
  src/views/HomePage.tsx
  src/views/MediumPage.tsx
  src/views/SearchPage.tsx
  src/views/TopicPage.tsx
Due: eslint --fix, prettier --write

Update admin error handling
  internal/config/admin_error_messages.go
  internal/config/admin_error_messages.properties
  internal/config/admin_error_messages_test.go
  internal/domain/error_message.go
  internal/repository/error_message_repository.go
  internal/service/admin_error_catalog.go
  internal/service/admin_error_catalog_test.go
  package.json
  pkg/httpapi/request_context.go
  pkg/web/admingraphql/errors.go
  pkg/web/admingraphql/errors_test.go
  pkg/web/admingraphql/handler.go
  public/locales/en/admin-account.json
  public/locales/en/admin-common.json
  public/locales/en/admin-login.json
  public/locales/tr/admin-account.json
  public/locales/tr/admin-common.json
  public/locales/tr/admin-login.json
  scripts/sync-admin-error-messages/main.go
  src/lib/adminApi.ts
  src/lib/graphql/apolloClient.ts
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
  src/views/AdminLoginPage.tsx
  vercel.json
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Düzelt lint ve test hataları
  __tests__/lib/graphql/apolloClient.test.ts
Due: eslint --fix, prettier --write

Adjust admin pagination styling
  AGENTS.md
  internal/domain/admin_error_message.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_audit_log_repository.go
  internal/repository/error_message_repository.go
  internal/service/admin_error_catalog.go
  internal/service/admin_error_catalog_test.go
  internal/service/admin_error_message_management.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/app/(default)/admin/settings/errors/page.tsx
  src/app/(localized)/[locale]/admin/settings/errors/page.tsx
  src/components/pagination/PageSizeSelector.tsx
  src/components/pagination/PaginationBar.tsx
  src/config/iconLoader.ts
  src/lib/adminApi.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix admin error message handling
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write

Admin paneli hatalarını düzelt
  internal/domain/admin_error_message.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/service/admin_error_catalog_test.go
  internal/service/admin_error_message_management.go
  internal/service/admin_error_message_management_test.go
  src/app/(default)/admin/account/page.tsx
  src/app/(default)/admin/change-password/page.tsx
  src/app/(default)/admin/settings/page.tsx
  src/app/(default)/admin/settings/password/page.tsx
  src/app/(localized)/[locale]/admin/account/page.tsx
  src/app/(localized)/[locale]/admin/change-password/page.tsx
  src/app/(localized)/[locale]/admin/settings/page.tsx
  src/app/(localized)/[locale]/admin/settings/password/page.tsx
  src/components/admin/AdminChrome.tsx
  src/lib/adminApi.ts
  src/lib/adminRoutes.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write

Fix backend GraphQL DateTime mapping
  admin-gqlgen.yml
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/scalars_datetime.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
Due: prettier --write

Cleanup admin newsletter layout
  internal/domain/admin_newsletter.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_newsletter_repository.go
  internal/service/admin_newsletter_management.go
  internal/service/admin_newsletter_management_test.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/app/(default)/admin/settings/newsletter/page.tsx
  src/app/(localized)/[locale]/admin/settings/newsletter/page.tsx
  src/components/pagination/PageSizeSelector.tsx
  src/config/iconLoader.ts
  src/lib/adminApi.ts
  src/lib/adminRoutes.ts
  src/styles/global.scss
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix admin content save alerts
  AGENTS.md
  internal/domain/admin_content.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_content_repository.go
  internal/repository/post_data.go
  internal/service/admin_content_management.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  scripts/sync-newsletter-content/main.go
  src/app/(default)/admin/settings/content/page.tsx
  src/app/(default)/admin/settings/content/posts/[postLocale]/[postId]/page.tsx
  src/app/(localized)/[locale]/admin/settings/content/page.tsx
  src/app/(localized)/[locale]/admin/settings/content/posts/[postLocale]/[postId]/page.tsx
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/admin/AdminMarkdownEditor.tsx
  src/config/iconLoader.ts
  src/lib/adminApi.ts
  src/lib/adminRoutes.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Fix medium posts ordering
  internal/domain/admin_content.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_content_repository.go
  internal/service/admin_content_management.go
  public/data/posts.en.json
  public/data/posts.tr.json
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  scripts/sync-medium-posts.js
  src/components/admin/AdminContentManagementPanel.tsx
  src/lib/adminApi.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Update admin Google email flows
  __tests__/components/posts/PostComments.test.tsx
  api/admin-email-change/index.go
  api/admin-google/index.go
  cmd/app/main.go
  internal/config/admin_error_messages.properties
  internal/config/admin_google.go
  internal/domain/admin_user.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_user_repository.go
  internal/service/admin_auth.go
  internal/service/admin_auth_email_change_test.go
  internal/service/admin_google_auth.go
  pkg/adminmail/content.go
  pkg/adminmail/templates/email_change_confirmation.html.tmpl
  pkg/adminmail/templates/email_change_notice.html.tmpl
  pkg/adminmail/templates/status_page.html.tmpl
  pkg/web/adminemailchange/handler.go
  pkg/web/admingoogle/handler.go
  pkg/web/admingraphql/errors.go
  public/locales/en/admin-account.json
  public/locales/en/admin-common.json
  public/locales/en/admin-login.json
  public/locales/en/post.json
  public/locales/tr/admin-account.json
  public/locales/tr/admin-common.json
  public/locales/tr/admin-login.json
  public/locales/tr/post.json
  src/app/(default)/admin/settings/email/page.tsx
  src/app/(localized)/[locale]/admin/settings/email/page.tsx
  src/components/posts/PostComments.tsx
  src/config/iconLoader.ts
  src/lib/adminApi.ts
  src/lib/adminRoutes.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
  src/views/AdminLoginPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Kutucuk işareti temasını güncelle
  src/styles/global.scss
Due: prettier --write

Update admin login and github auth
  __tests__/views/AdminLoginPage.test.tsx
  api/admin-github/index.go
  cmd/app/main.go
  internal/config/admin_error_messages.properties
  internal/config/admin_github.go
  internal/domain/admin_user.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_user_repository.go
  internal/service/admin_auth_email_change_test.go
  internal/service/admin_github_auth.go
  pkg/web/admingithub/handler.go
  pkg/web/admingraphql/errors.go
  public/locales/en/admin-account.json
  public/locales/en/admin-login.json
  public/locales/tr/admin-account.json
  public/locales/tr/admin-login.json
  src/lib/adminApi.ts
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
  src/views/AdminLoginPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts
