Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Raise Jest functions coverage to 95%
  __tests__/components/common/PostDensityToggle.test.tsx
  __tests__/views/AdminLoginPage.test.tsx
Due: eslint --fix, prettier --write

Fix admin OAuth flow failures
  api/admin-github/callback/index.go
  api/admin-github/connect/index.go
  api/admin-google/callback/index.go
  api/admin-google/connect/index.go
Due: none

Düzelt pnpm test hataları
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/components/LocaleRedirect.test.tsx
  __tests__/components/common/BackToTop.test.tsx
  __tests__/components/common/CategoryDropdown.test.tsx
  __tests__/components/posts/PostComments.test.tsx
  __tests__/components/posts/PostHit.test.tsx
  __tests__/components/posts/PostLike.test.tsx
  __tests__/components/posts/PostSummary.test.tsx
  __tests__/components/theme/ThemeProvider.test.tsx
  __tests__/components/voice/VoiceToggler.test.tsx
  __tests__/lib/commentAuthApi.test.ts
  __tests__/lib/contentApi.test.ts
  __tests__/lib/graphql/apolloClient.test.ts
  src/components/posts/PostComments.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostHit.tsx
  src/components/posts/PostLike.tsx
  src/components/posts/PostToc.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/commentsApi.ts
  src/lib/contentApi.ts
Due: eslint --fix, prettier --write

test(ui): stabilize post detail runtime tests
  __tests__/components/posts/PostDetail.test.tsx
Due: eslint --fix, prettier --write

Remove locale reliance from comments
  __tests__/components/posts/PostComments.test.tsx
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/lib/commentsApi.test.ts
  api/admin-github/callback/index.go
  api/admin-github/connect/index.go
  api/admin-google/callback/index.go
  api/admin-google/connect/index.go
  api/reader-github/callback/index.go
  api/reader-github/connect/index.go
  api/reader-google/callback/index.go
  api/reader-google/connect/index.go
  internal/domain/comment.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/graphql/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/repository/comment_repository.go
  internal/repository/post_data.go
  internal/repository/post_repository.go
  internal/service/admin_comment_management.go
  internal/service/comment.go
  internal/service/comment_test.go
  internal/service/post_test.go
  src/components/posts/PostComments.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/adminApi.ts
  src/lib/commentsApi.ts
  src/views/AdminAccountPage.tsx
  src/views/AdminDashboardPage.tsx
  vercel.json
Due: eslint --fix, prettier --write

Remove comments locale dependency
  vercel.json
Due: prettier --write

Fix callback endpoints
  __tests__/lib/commentAuthApi.test.ts
  api/admin-github/index.go
  api/admin-google/index.go
  api/github/connect/index.go
  api/google/connect/index.go
  api/reader-github/index.go
  api/reader-google/index.go
  cmd/app/main.go
  internal/service/admin_github_auth.go
  internal/service/admin_google_auth.go
  pkg/web/admingithub/handler.go
  pkg/web/admingoogle/handler.go
  pkg/web/readergithub/handler.go
  pkg/web/readergoogle/handler.go
  src/lib/commentAuthApi.ts
  src/views/AdminLoginPage.tsx
  vercel.json
Due: eslint --fix, prettier --write

Fix comment event reliability
  __tests__/components/posts/PostComments.test.tsx
  __tests__/lib/adminCommentEvents.test.ts
  __tests__/lib/commentsApi.test.ts
  __tests__/lib/graphql/subscriptions.test.ts
  internal/domain/comment.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/graphql/comment_helpers.go
  internal/graphql/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/repository/comment_repository.go
  internal/service/admin_comment_management.go
  internal/service/admin_comment_management_test.go
  internal/service/comment.go
  internal/service/comment_events.go
  internal/service/comment_test.go
  package.json
  pkg/commentsub/broker.go
  pkg/commentsub/broker_test.go
  pkg/web/admingraphql/handler.go
  pkg/web/graphql/handler.go
  pnpm-lock.yaml
  src/components/posts/PostComments.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/adminApi.ts
  src/lib/adminCommentEvents.ts
  src/lib/commentsApi.ts
  src/lib/graphql/apolloClient.ts
  src/lib/graphql/enumMappers.ts
  src/lib/graphql/subscriptions.ts
  src/types/comments.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write

refactor(comments): remove comment event types and related subscriptions
  __tests__/components/posts/PostComments.test.tsx
  __tests__/lib/adminCommentEvents.test.ts
  __tests__/lib/commentsApi.test.ts
  __tests__/lib/graphql/subscriptions.test.ts
  internal/domain/comment.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/graphql/comment_helpers.go
  internal/graphql/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/service/admin_comment_management.go
  internal/service/comment.go
  internal/service/comment_events.go
  package.json
  pkg/commentsub/broker.go
  pkg/commentsub/broker_test.go
  pkg/web/admingraphql/handler.go
  pkg/web/graphql/handler.go
  pnpm-lock.yaml
  src/components/posts/PostComments.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/adminApi.ts
  src/lib/adminCommentEvents.ts
  src/lib/commentsApi.ts
  src/lib/graphql/enumMappers.ts
  src/lib/graphql/subscriptions.ts
  src/types/comments.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write

refactor(comments): remove comment event types and related subscriptions
  docs/modern-blog-gap-backlog.md
Due: prettier --write

refactor(comments): remove comment event types and related subscriptions
  images/introduction.png
  images/webapp.png
Due: none

docs: update README to reflect project name change and enhance feature descriptions
  README.md
Due: prettier --write

docs: add backend API endpoints section to README
  README.md
Due: prettier --write

docs: update AGENTS.md and README.md to include admin panel and related GraphQL endpoints
  AGENTS.md
  README.md
Due: prettier --write

Add comment tab to admin post detail editor
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/components/admin/AdminContentManagementPanel.tsx
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add admin comment management error handling and UI messages
  internal/config/admin_error_messages.properties
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/comment_repository.go
  internal/service/admin_comment_management.go
  internal/service/admin_comment_management_test.go
  internal/service/admin_error_catalog.go
  internal/service/comment_test.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/components/admin/AdminContentManagementPanel.tsx
  src/lib/adminApi.ts
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add admin password reset flow and localized auth messages
  __tests__/lib/adminPasswordResetApi.test.ts
  __tests__/views/AdminForgotPasswordPage.test.tsx
  __tests__/views/AdminLoginPage.test.tsx
  __tests__/views/AdminResetPasswordPage.test.tsx
  api/admin-password-reset/confirm/index.go
  api/admin-password-reset/request/index.go
  cmd/app/main.go
  internal/config/admin_error_messages.properties
  internal/domain/admin_user.go
  internal/repository/admin_user_repository.go
  internal/service/admin_auth.go
  internal/service/admin_auth_email_change_test.go
  internal/service/admin_auth_password_reset_test.go
  internal/service/admin_error_catalog.go
  pkg/adminmail/content.go
  pkg/web/adminpasswordresetconfirm/handler.go
  pkg/web/adminpasswordresetrequest/handler.go
  public/locales/en/admin-login.json
  public/locales/en/admin-password-reset.json
  public/locales/tr/admin-login.json
  public/locales/tr/admin-password-reset.json
  src/app/(default)/admin/forgot-password/page.tsx
  src/app/(default)/admin/reset-password/page.tsx
  src/app/(localized)/[locale]/admin/forgot-password/page.tsx
  src/app/(localized)/[locale]/admin/reset-password/page.tsx
  src/i18n/server.ts
  src/i18n/settings.ts
  src/lib/adminPassword.ts
  src/lib/adminPasswordResetApi.ts
  src/lib/adminRoutes.ts
  src/types/i18n-resources.d.ts
  src/views/AdminAccountPage.tsx
  src/views/AdminForgotPasswordPage.tsx
  src/views/AdminLoginPage.tsx
  src/views/AdminResetPasswordPage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add admin password and route unit tests
  __tests__/lib/adminPassword.test.ts
  __tests__/lib/adminRoutes.test.ts
  __tests__/views/AdminResetPasswordPage.test.tsx
Due: eslint --fix, prettier --write

Add post comment counts to GraphQL and post listings
  __tests__/components/posts/PostList.test.tsx
  __tests__/components/posts/PostSummary.test.tsx
  __tests__/lib/contentApi.test.ts
  internal/domain/post.go
  internal/graphql/generated.go
  internal/graphql/helpers_test.go
  internal/graphql/model/models_gen.go
  internal/graphql/posts_helpers.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/repository/comment_repository.go
  internal/service/comment_test.go
  internal/service/post.go
  internal/service/post_test.go
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/posts/PostList.tsx
  src/components/posts/PostSummary.tsx
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/contentApi.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Show post analytics and compact counts in admin editor
  __tests__/components/common/CompactCount.test.tsx
  __tests__/components/posts/PostHit.test.tsx
  internal/domain/admin_content.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_content_repository.go
  internal/service/admin_content_management.go
  internal/service/admin_content_management_test.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/common/CompactCount.tsx
  src/components/posts/PostHit.tsx
  src/lib/adminApi.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Align topic picker search with list group styling
  src/components/admin/AdminContentManagementPanel.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Enhance admin content management with optimized image loading and update route building functions
  __tests__/lib/adminRoutes.test.ts
  src/components/admin/AdminContentManagementPanel.tsx
Due: eslint --fix, prettier --write

Add media library management with upload and retrieval functionalities
  __tests__/config/iconLoader.test.ts
  __tests__/lib/contentApi.test.ts
  __tests__/lib/newsletterApi.test.ts
  admin-gqlgen.yml
  api/media/index.go
  cmd/app/main.go
  codegen.ts
  gqlgen.yml
  internal/domain/admin_media.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/graphql/admin/schema_resolvers_test.go
  internal/graphql/comment_helpers.go
  internal/graphql/enum_helpers.go
  internal/graphql/generated.go
  internal/graphql/helpers_test.go
  internal/graphql/model/models_gen.go
  internal/graphql/posts_helpers.go
  internal/graphql/scalars_datetime.go
  internal/graphql/schema.graphqls
  internal/graphql/schema.resolvers.go
  internal/graphql/schema_resolvers_test.go
  internal/repository/admin_media_asset_repository.go
  internal/repository/post_data.go
  internal/service/admin_media_library.go
  pkg/graphql/scalars/scalars.go
  pkg/web/mediaasset/handler.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/components/admin/AdminContentManagementPanel.tsx
  src/config/iconLoader.ts
  src/graphql/generated/graphql.ts
  src/lib/adminApi.ts
  src/lib/graphql/enumMappers.ts
  src/styles/global.scss
  src/types/i18n-resources.d.ts
  vercel.json
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add media library management with upload and retrieval functionalities
  Dockerfile
Due: none

Refactor OAuth connection endpoints for GitHub and Google
  __tests__/lib/commentAuthApi.test.ts
  api/github/connect/index.go
  api/google/connect/index.go
  api/oauth/connect/index.go
  cmd/app/main.go
  internal/graphql/admin/schema_resolvers_test.go
  internal/service/admin_github_auth.go
  internal/service/admin_google_auth.go
  src/lib/commentAuthApi.ts
  src/views/AdminLoginPage.tsx
  vercel.json
Due: eslint --fix, prettier --write

Route admin recovery flows through GraphQL
  README.md
  __tests__/lib/adminEmailChangeApi.test.ts
  __tests__/lib/adminPasswordResetApi.test.ts
  __tests__/views/AdminEmailChangePage.test.tsx
  api/admin-email-change/index.go
  api/admin-password-reset/confirm/index.go
  api/admin-password-reset/request/index.go
  cmd/app/main.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/graphql/admin/schema_resolvers_test.go
  internal/service/admin_auth.go
  pkg/web/adminemailchange/handler.go
  pkg/web/admingraphql/handler.go
  pkg/web/adminpasswordresetconfirm/handler.go
  pkg/web/adminpasswordresetrequest/handler.go
  public/locales/en/admin-email-change.json
  public/locales/tr/admin-email-change.json
  src/app/(default)/admin/email-change/page.tsx
  src/app/(localized)/[locale]/admin/email-change/page.tsx
  src/i18n/server.ts
  src/i18n/settings.ts
  src/lib/adminEmailChangeApi.ts
  src/lib/adminPasswordResetApi.ts
  src/lib/adminRoutes.ts
  src/types/i18n-resources.d.ts
  src/views/AdminEmailChangePage.tsx
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Adjust default media library page size to 10 and remove page size options
  src/components/admin/AdminContentManagementPanel.tsx
Due: eslint --fix, prettier --write

Implement media asset deletion functionality with confirmation prompts
  internal/graphql/admin/generated.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_media_asset_repository.go
  internal/service/admin_media_library.go
  internal/service/admin_media_library_test.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  scripts/sync-newsletter-content/main.go
  scripts/sync-newsletter-content/main_test.go
  src/components/admin/AdminContentManagementPanel.tsx
  src/config/iconLoader.ts
  src/lib/adminApi.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add sorting functionality to media library with options for recent, name, size, and usage
  internal/domain/admin_media.go
  internal/graphql/admin/generated.go
  internal/graphql/admin/model/models_gen.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_media_asset_repository.go
  internal/repository/admin_media_asset_repository_test.go
  internal/service/admin_media_library.go
  internal/service/admin_media_library_test.go
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  src/components/admin/AdminContentManagementPanel.tsx
  src/lib/adminApi.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Align GraphQL naming rules and operation document names
  .agents/skills/graphql-change-flow/SKILL.md
  AGENTS.md
  __tests__/lib/contentApi.test.ts
  __tests__/lib/newsletterApi.test.ts
  codegen.ts
  src/graphql/generated/graphql.ts
  src/graphql/operations/content.graphql
  src/lib/adminApi.ts
  src/lib/commentsApi.ts
  src/lib/contentApi.ts
  src/lib/newsletterApi.ts
Due: eslint --fix, prettier --write

Fix admin media search and metadata layout
  internal/repository/admin_media_asset_repository.go
  src/components/admin/AdminContentManagementPanel.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Refactor admin account security flows into focused hooks
  internal/service/admin_auth.go
  internal/service/admin_auth_email.go
  internal/service/admin_auth_password_reset.go
  internal/service/admin_auth_profile.go
  internal/service/admin_auth_sessions.go
  src/components/admin/account/AdminAccountAvatarCropModal.tsx
  src/views/AdminAccountPage.tsx
  src/views/admin-account/adminAccountNewsletterShared.ts
  src/views/admin-account/adminAccountSecurityShared.ts
  src/views/admin-account/adminAccountShared.ts
  src/views/admin-account/useAdminAccountAccountSection.ts
  src/views/admin-account/useAdminAccountAvatarSection.ts
  src/views/admin-account/useAdminAccountBootstrap.ts
  src/views/admin-account/useAdminAccountConnectedAccounts.ts
  src/views/admin-account/useAdminAccountEmailSection.ts
  src/views/admin-account/useAdminAccountNewsletterOverview.ts
  src/views/admin-account/useAdminAccountNewsletterSection.ts
  src/views/admin-account/useAdminAccountNewsletterSubscribers.ts
  src/views/admin-account/useAdminAccountPasswordSecurity.ts
  src/views/admin-account/useAdminAccountSecuritySection.ts
  src/views/admin-account/useAdminAccountSessionActions.ts
Due: eslint --fix, prettier --write

Refactor admin content panel into focused sections and hooks
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/admin/content/AdminContentDeleteEntityModal.tsx
  src/components/admin/content/AdminContentOverviewTabs.tsx
  src/components/admin/content/AdminContentPostDetailSection.tsx
  src/hooks/admin-content/adminContentTaxonomyShared.ts
  src/hooks/admin-content/useAdminContentCategorySection.ts
  src/hooks/admin-content/useAdminContentMediaSection.ts
  src/hooks/admin-content/useAdminContentNavigation.ts
  src/hooks/admin-content/useAdminContentPostCommentsSection.ts
  src/hooks/admin-content/useAdminContentPostEditorSection.ts
  src/hooks/admin-content/useAdminContentPostsBrowserSection.ts
  src/hooks/admin-content/useAdminContentTaxonomySection.ts
  src/hooks/admin-content/useAdminContentTopicSection.ts
Due: eslint --fix, prettier --write

Expand code-quality skill guidance examples
  .agents/skills/code-quality/SKILL.md
Due: prettier --write

Document repo skills in AGENTS.md
  .agents/skills/design-patterns/SKILL.md
  .agents/skills/design-patterns/agents/openai.yaml
  AGENTS.md
  claude-ai-spring-boot-skills-sunumu.md
Due: prettier --write

Remove Claude AI Spring Boot skills presentation deck
  ai-spring-boot-skills-sunumu.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,cjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.{css,scss,html,md,json,yml,yaml})
  i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts: any of: public/locales/en/**/*.json
