Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,mjs,cjs,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,html,md,json,yml,yaml}": ["prettier --write"]
}

chore(config): add additional arguments for snyk scan
  .circleci/config.yml
Due: prettier --write

chore(config): update sonar project key and token variable
  sonar-project.properties
Due: none

chore(config): update sonar project key and change token variable to login
  sonar-project.properties
Due: none

chore(config): disable SCM integration in SonarQube
  sonar-project.properties
Due: none

chore(deps): add hast-util-sanitize dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(scss): migrate from @import to @use for Sass files and update transition mixin
  AGENTS.md
  next.config.ts
  src/styles/_mixins.scss
  src/styles/global.scss
Due: eslint --fix, prettier --write

chore: auto-update medium feed [skip ci]
  content/medium-feed.json
Due: prettier --write

chore(package): remove redundant logHeapUsage option from jest command
  package.json
Due: prettier --write

Update Node requirement to 24.13
  .circleci/config.yml
  AGENTS.md
  README.md
  package.json
  scripts/fetch-medium-feed.js
  scripts/generate-rss.js
  scripts/generate-sitemap.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update orb versions in config.yml
  .circleci/config.yml
Due: prettier --write

chore: add environment configuration file for codex
  .codex/environments/environment.toml
Due: none

Update GA guard and Markdown links
  src/components/common/Layout.tsx
  src/components/common/MarkdownRenderer.tsx
  src/config/constants.ts
  src/pages/[locale]/posts/[id].tsx
Due: eslint --fix, prettier --write

Fix reading time calculation
  __tests__/__mocks__/mockPostData.ts
  __tests__/components/common/MarkdownRenderer.test.tsx
  content/posts/en/posts.json
  content/posts/tr/posts.json
  content/topics/en/topics.json
  content/topics/tr/topics.json
  public/locales/en/post.json
  public/locales/tr/post.json
  scripts/audit-related-posts.js
  scripts/normalize-post-topics.js
  scripts/report-related-posts.js
  scripts/strip-reading-time.js
  src/components/posts/PostDetail.tsx
  src/components/posts/RelatedPosts.tsx
  src/lib/postFilters.ts
  src/lib/posts.ts
  src/lib/readingTime.ts
  src/pages/[locale]/posts/[id].tsx
Due: eslint --fix, prettier --write

Add pre-footer copy translations
  public/locales/en/common.json
  public/locales/tr/common.json
  src/components/common/Layout.tsx
  src/components/common/PreFooter.tsx
  src/components/posts/RelatedPosts.tsx
  src/config/iconLoader.ts
  src/lib/posts.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Improve BlogPosting JSON-LD
  src/components/common/SEO.tsx
  src/pages/[locale]/posts/[id].tsx
Due: eslint --fix, prettier --write

Fix posts page GetStaticProps typing
  src/pages/[locale]/posts/[id].tsx
Due: eslint --fix, prettier --write

Fix GetStaticProps typing
  src/pages/[locale]/posts/[id].tsx
Due: eslint --fix, prettier --write

Post detayına okuma araçları ekle
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/agents/openai.yaml
  .codex/skills/blog-content-authoring/scripts/check-content.mjs
  .codex/skills/blog-content-authoring/scripts/make-thumbnail.mjs
  src/components/common/BackToTop.tsx
  src/components/common/ReadingProgress.tsx
  src/components/posts/PostDetail.tsx
  src/config/iconLoader.ts
  src/styles/global.scss
Due: eslint --fix, prettier --write

Style reading time indicators
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/scripts/check-content.mjs
  .codex/skills/blog-content-authoring/scripts/make-post-image.mjs
  .codex/skills/blog-content-authoring/scripts/report-images.mjs
  src/assets/icons/gradle.svg
  src/assets/icons/maven.svg
Due: eslint --fix, prettier --write

docs(skill): add Iram theme variants and seeded prompt generator
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/scripts/generate-irem-prompts.mjs
Due: eslint --fix, prettier --write

feat(skill): add constrained random post generator and frontend topics
  .codex/skills/blog-content-authoring/SKILL.md
  .codex/skills/blog-content-authoring/scripts/generate-irem-prompts.mjs
  .codex/skills/blog-content-authoring/scripts/suggest-random-post.mjs
  content/topics/en/topics.json
  content/topics/tr/topics.json
Due: eslint --fix, prettier --write
