Repository susimsek/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Add blog SEO and PWA metadata
  __tests__/app/[locale]/layout.test.tsx
  __tests__/app/layout.test.tsx
  __tests__/app/manifest.test.ts
  __tests__/components/posts/PostDetail.helpers.test.ts
  __tests__/components/posts/PostDetail.test.tsx
  ai-spring-boot-skills-sunumu.md
  internal/graphql/admin/generated.go
  internal/graphql/admin/schema.graphqls
  internal/graphql/admin/schema.resolvers.content.go
  internal/graphql/admin/schema.resolvers.go
  internal/repository/admin_media_asset_repository.go
  internal/service/admin_media_library.go
  internal/service/admin_media_library_test.go
  pkg/web/mediaasset/handler.go
  public/icon-512x512.png
  public/locales/en/admin-account.json
  public/locales/tr/admin-account.json
  scripts/generate-sitemap.js
  slides-assets/codex-first-repo-anatomy.svg
  slides-assets/reference-repo-anatomy.svg
  slides-assets/skill-delivery-pipeline.svg
  slides-assets/skill-stack-comparison.svg
  src/app/(default)/layout.tsx
  src/app/(localized)/[locale]/layout.tsx
  src/app/manifest.ts
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/admin/content/AdminContentMediaTab.tsx
  src/components/posts/PostDetail.tsx
  src/hooks/admin-content/useAdminContentMediaSection.ts
  src/lib/admin-api/content-media.ts
  src/types/i18n-resources.d.ts
Due: eslint --fix, prettier --write, i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts

Refactor admin content and comments internals
  internal/repository/admin_content_categories.go
  internal/repository/admin_content_documents.go
  internal/repository/admin_content_mapping.go
  internal/repository/admin_content_pipeline.go
  internal/repository/admin_content_posts.go
  internal/repository/admin_content_repository.go
  internal/repository/admin_content_topics.go
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/admin/content/AdminContentOverviewTabs.tsx
  src/components/admin/content/adminContentHelpers.ts
  src/components/posts/CommentCard.tsx
  src/components/posts/CommentForm.tsx
  src/components/posts/PostComments.tsx
  src/components/posts/commentFormatting.tsx
  src/components/posts/commentValidation.ts
  src/lib/admin-api/core.ts
  src/lib/admin-api/errors-core.ts
Due: eslint --fix, prettier --write

Force manifest route to static
  src/app/manifest.ts
Due: eslint --fix, prettier --write

Fix admin media tab prop names
  src/components/admin/AdminContentManagementPanel.tsx
  src/components/admin/content/AdminContentMediaTab.tsx
  src/components/admin/content/AdminContentOverviewTabs.tsx
Due: eslint --fix, prettier --write

Update content sync and GraphQL generation
  .circleci/config.yml
  .node-version
  .nvmrc
  AGENTS.md
  README.md
  __tests__/lib/commentsApi.test.ts
  __tests__/lib/contentApi.test.ts
  __tests__/lib/newsletterApi.test.ts
  codegen.ts
  jest.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/graphql/generated/operations.ts
  src/graphql/generated/schema.ts
  src/lib/commentsApi.ts
  src/lib/contentApi.ts
  src/lib/graphql/enumMappers.ts
  src/lib/newsletterApi.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Update GraphQL and Apollo dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

Sync post filters with route query state
  __tests__/app/[locale]/posts/[id]/page.test.tsx
  __tests__/components/posts/PostDetail.helpers.test.ts
  __tests__/components/posts/PostDetail.test.tsx
  __tests__/components/posts/PostList.helpers.test.ts
  __tests__/components/posts/PostList.test.tsx
  __tests__/views/pages.test.tsx
  src/app/(localized)/[locale]/posts/[id]/page.tsx
  src/components/common/DateRangePicker.tsx
  src/components/posts/PostDetail.tsx
  src/components/posts/PostFilters.tsx
  src/components/posts/PostList.tsx
  src/views/HomePage.tsx
  src/views/PostPage.tsx
Due: eslint --fix, prettier --write

Dispatch admin user update on login
  __tests__/views/AdminLoginPage.test.tsx
  src/views/AdminLoginPage.tsx
Due: eslint --fix, prettier --write

Stop marking admin email input as touched on change
  src/views/admin-account/useAdminAccountEmailSection.ts
Due: eslint --fix, prettier --write

Refine admin newsletter and content post card layouts
  src/components/admin/account/AdminAccountNewsletterSection.tsx
  src/components/admin/content/AdminContentPostsTab.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,mjs,cjs,ts,tsx}
  prettier --write: (any of: *.{js,jsx,mjs,cjs,ts,tsx}) or (any of: *.{css,scss,html,md,json,yml,yaml})
  i18next-resources-for-ts interface -i ./public/locales/en -o ./src/types/i18next-resources.d.ts: any of: public/locales/en/**/*.json
